<!DOCTYPE html>
<html>
  <body>
    <h1>edit any of these as needed</h1>
    <h2>raw text: {{rawtext}}</h2>
    <form method="post">
      <h3>Event Title: {{title}}</h3>
      <input type="text" name="new_title" placeholder="{{title}}" />

      <h3>Date: {{date}}</h3>
      <input type="date" name="new_date" value="{{date}}" />

      <h3>Start time: {{start_time}}</h3>
      <input type="time" name="new_start_time" value="{{start_time}}" />

      <!-- <h3>Duration: {{duration}} minutes</h3>
      <input type="text" name="new_duration" placeholder="{{duration}}" /> -->

      <h3>End time: {{end_time}}</h3>
      <input type="time" name="new_end_time" value="{{end_time}}" />

      <input type="submit" value="Save Changes" />
      <input type="submit" name="finished" value="Finished" />
    </form>
  </body>
</html>
